.App {
  text-align: center;
  align-self: center;
  padding-left: 250px;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.CalApp{
  width: 70%;
  border: 2px #ccc solid;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  background-color: white;
  align-content: center;

}

.CalHeading{
  text-align: center;
  color: red;
}
.ETableCellText{
  background-color: lightgreen;
  color: brown !important;
  font-size: 16px !important;
}
.ETableCellVal{
  text-align: right !important;
  font-size: 18px !important;

}

